html {
  font-size: 20px;
}
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: url(img/space-g7b422dbea_1920.jpg);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 2em;
}
.text-center {
  text-align: center;
}
.container {
  width: min(100% - 40px, 1280px);
  margin-inline: auto;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px}

.inner {
  background-color: rgb(51, 32, 169);
  box-shadow: 1px 1px 40px rgb(197, 16, 91);
}
.anchor {
  position: relative;
}

.anchor > span {
  position: absolute;
  top: -100px;
}

.content {
  background-color: indigo;
  margin-bottom: 100px;
  margin-top: 160px;
  color: rgb(255, 255, 255);
}

.header__navbar-list {
  list-style: none;
  margin: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  background-color: rgb(16, 4, 36);
}

.header__navbar-link {
  padding: 20px;
  background-color: indigo;
  display: block;
  border-radius: 8px;
}

a {
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.header__navbar-link:hover {
  background-color: rgb(121, 146, 39);
  box-shadow: 1px 1px 40px rgb(197, 16, 91);
}

.new::after {
  content: "NEW";
  background: orange;
  color: aliceblue;
  font-size: 70%;
  padding: 2px;
  margin-left: 2px;
}
.sublist {
  list-style: outside url(img/list_bullets.png);
  font-size: 20px;
  background-color: rgb(40, 18, 56);
  color: rgb(239, 234, 234);
  font-weight: normal;
  margin: 10px;
  padding: 10px 10px 10px 37px;
}

.list-catalog {
  list-style: outside url(img/list.png);
  font-size: 30px;
  background-color: rgb(89, 20, 200);
  color: rgb(239, 234, 234);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 3em 2em;
  margin-top: 90px;
  margin-bottom: 90px;
}
.p-articles::first-letter {
  color: brown;
  font-size: 20px;
  font-weight: 900;
  float: left;
  border: 2px solid beige;
  background-color: rgb(238, 230, 230);
  padding: 5px;
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}
fieldset {
  max-width: 500px;
  margin: 20px auto;
  background-color: rgb(76, 113, 162);
}

select,

input {
  width: 100%;
  padding: 7px 15px;
}

input[type="file"] {
 padding-left: 0;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 40vh;
}
legend {
  transform: translateY(-10px);
}
.form-group:not(:first-of-type) {
  margin: 15px 0 5px;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}
.label-form {display: block;
margin-bottom: 5px;}

.form-style { margin-top: 15px;
  margin-bottom: 15px;
  max-width: 500px;
  margin: 20px auto;
}

.hidden {
  display: none;
}
.btn {
  width: 100%;
  padding: 10px 20px;
}

.overlay {
  background-color: #000000;
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.05;
}

.new-articles-read {
  color: rgb(11, 219, 39);
  font-weight: 500;
  transition: 0.5s;
}

.new-articles-read:hover {
  color: aquamarine;
  box-shadow: 1px 1px 40px rgb(197, 16, 91);
}

.new-articles-link {
  border-bottom: 0.7px solid rgb(219, 102, 14);
  color: rgb(219, 228, 33);
}

.new-articles {
  font-family: "sans-serif", sans-serif;
  font-weight: 800;
}

.navigation__menu {
  margin-bottom: 30px;
}
.navigation__list {
  display: flex;
  justify-content: center;

  padding: 0;

  list-style: none;
}
.navigation__item:not(:last-of-type)::after {
  margin-right: 1em;

  content: ",";
}
.h1-articles {
  text-align: center;
}
.bg-wallpaper-gallery {
  position: fixed;
  z-index: -1;
  top: 0;
  height: 150vh;
  width: 150vw;
  background-color: #a4ca18;
  background-image: url(img/fontop.png);
  background-size: 250px, 200px;
  background-position: 98% 16%, center;
  background-repeat: repeat;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10em;
  margin: 20px 20px;
}
.section-gallery {
  text-align: center;
  align-items: center;
}

.main {
  margin-top: 100px;
  margin-bottom: 90px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: rgb(16, 4, 36);
  color: rgb(121, 146, 39);
  margin: 0 auto;
  display: block;
  clear: both;
}
